loader(ng-show="vm.loading")

ul.flex.wrap
  li.elevated-bottom(ng-repeat= "project in vm.projects track by $index" fitted-width=true)
    header
      a(ui-sref="timeline({ workId: project.id })")
        h5 {{ project.name || 'Unnamed Project' }}

      p.type {{ vm.typeMap[project.projectType] }} - {{ project.status }}

    main.incomplete.flex.column.middle.center(ng-if="project.status == 'Incomplete'")
      include cards/incomplete

    main.submitted.flex.column(ng-if="project.status == 'Submitted'")
      include cards/submitted

    main.assigned.flex.column(ng-if="project.status == 'Assigned'")
      include cards/assigned

    main.estimated.flex.column(ng-if="project.status == 'Estimate'")
      include cards/estimated

    main.approved.flex.column(ng-if="project.status == 'Approved'")
      include cards/approved

    main.launched.flex.column(
      ng-if="project.status == 'Launched' && !project.activeWorkStep"
    )
      include cards/launched

    main.complete.flex.column.middle.center(ng-if="project.status == 'Complete'")
      include cards/completed

    main.flex(
      ng-if="project.status == 'Launched' && project.activeWorkStep.name == 'Design Concepts' && !project.activeWorkStep.winners"
    )
      submission-card.flex.flex-grow.column.middle.center(phase="DESIGN")

    main.flex(
      ng-if="project.status == 'Launched' && project.activeWorkStep.name == 'Final Designs' && !project.activeWorkStep.winners"
    )
      submission-card.flex.flex-grow.column.middle.center(phase="FINAL_DESIGN")

    main.winner.flex.column.middle.center(
      ng-if="project.status == 'Launched' && project.activeWorkStep.winners.length == 1"
    )
      include cards/winner

    main.flex.column.middle.center(
      ng-if="project.status == 'Launched' && project.activeWorkStep.name == 'Final Fixes' && !project.activeWorkStep.winners"
    )
      include cards/fixes

    main.winners.flex.column.middle.center(
      ng-if="project.status == 'Launched' && project.activeWorkStep.winners.length == 3"
    )
      include cards/ranks

.no-projects(ng-hide="vm.loading || vm.projects.length > 0")
  p You have not started any projects.


