loader(ng-show="vm.loading")

ul.flex.wrap
  li(ng-repeat= "project in vm.projects track by $index" fitted-width=true)
    project-card.elevated-bottom
      card-header
        .project-name
          a(ng-if="project.status != 'INCOMPLETE' " ui-sref="timeline({ workId: project.id })")
            h5 {{ project.name || 'unnamed project' }}

          a(ng-if="project.status == 'INCOMPLETE' " ui-sref="submit-work({ id: project.id })")
            h5 {{ project.name || 'unnamed project' }}

          p.type {{ vm.typeMap[project.projectType] }} - {{ project.status }}

        button.clean.message-notification(ng-if="project.copilot != null")
          a(ui-sref="messaging({id: project.id, threadId: project.projectThread.id})")
            avatar.icon(avatar-url="{{project.copilot.avatar}}")

            .notification.absolute(ng-if="project.projectThread.unreadCount > 0") {{project.projectThread.unreadCount}}

      card-main.flex.center.middle.incomplete(ng-if="project.status == 'INCOMPLETE'")
        include cards/incomplete

      card-main.flex.column.submitted(ng-if="project.status == 'SUBMITTED'")
        include cards/submitted

      card-main.flex.column.assigned(ng-if="project.status == 'ASSIGNED'")
        include cards/assigned

      card-main(ng-if="project.status == 'ESTIMATED'")
        include cards/estimated

      card-main.flex.column.approved(ng-if="project.status == 'APPROVED'")
        include cards/approved

      card-main.flex.column.launched(
        ng-if="project.status == 'LAUNCHED' "
      )
        include cards/launched

      card-main.complete.flex.center.middle(ng-if="project.status == 'COMPLETE'")
        include cards/completed

      card-main.flex.column(
        ng-if="project.status == 'CHOOSE_WINNERS'"
      )
        submission-card.flex.flex-grow.column(phase="{{project.activeWorkStep.name}}")

      card-main.flex.column.winner(
        ng-if="project.status == 'WINNERS_SELECTED' && project.activeWorkStep.name == 'Final Designs' "
      )
        include cards/winner

      //- card-main.flex.column.middle.center(
      //-   ng-if="project.status == 'CHOOSE_WINNERS' && project.activeWorkStep.name == 'Final Fixes' "
      //- )
      //-   include cards/fixes

      card-main.flex.column.winners(
        ng-if="project.status == 'WINNERS_SELECTED' && project.activeWorkStep.name == 'Design Concepts'"
      )
        include cards/ranks

      card-main.flex.column(
        ng-if="project.status == 'STEP_OPEN'"
      )
        include cards/awaiting-submissions


p.no-projects(ng-hide="vm.loading || vm.projects.length > 0") You have not started any projects.


