ul
  li(ng-repeat= "project in vm.projects track by $index")
    ul.header
      li
        p.name {{ project.name || 'Unnamed Project' }}

      li
        p {{ vm.typeMap[project.projectType] || '' }}

    .preview

    ul.statuses
      li.icon-house
        .icon.checkmark.small(ng-if="project.status == 'Submitted'")

        .icon.warning.small(ng-if="project.status == 'Incomplete'")

        avatar.icon.small(ng-if="project.status != 'Incomplete' && project.status != 'Submitted'")

      li.message {{ vm.statusMap[project.status] || vm.statusMap['Incomplete'] }}

      li.action
        a(ng-if="project.status == 'Incomplete' || !project.status",
          ui-sref="submit-work-features({ id: project.id })") Continue

        span(ng-if="project.status == 'Submitted'")
          a(ui-sref="timeline({ workId: project.id })") Awaiting estimate

        a(ng-if="project.status == 'Assigned'",
          ui-sref="timeline({ workId: project.id })") Meet your copilot

        a(ng-if="project.status == 'Estimate'",
          ui-sref="timeline({ workId: project.id })") View your quote and begin

        a(ng-if="project.status == 'Launched'",
          ui-sref="timeline({ workId: project.id })") View project

        a(ng-if="project.status == 'Messaged'",
          ui-sref="timeline({ workId: project.id })") View 1 unread message

a(ui-sref="view-projects.assigned", ng-show="vm.projects.length < 1") Manage your copilot projects