loader(ng-show="vm.loading")

.confirm-claim.flex.middle.center(ng-class="{ active: vm.showConfirmClaim }")
  p(ng-hide="vm.claimed") Are you sure you want to claim this project?

  .flex.bottom(ng-show="vm.claimed")
    .icon.checkmark-white.small

    h5 Project claimed!

  button(ng-click="vm.claim()" ng-hide="vm.claiming || vm.claimed") yes, claim it!

  button(ng-click="vm.showConfirmClaim = !vm.showConfirmClaim" ng-hide="vm.claiming || vm.claimed") cancel

  .loader-house(ng-show="vm.claiming")
    loader

estimate-project(
  project-id="{{ vm.id }}"
  ng-if="vm.userType == 'COPILOT'"
  ng-class="{ active: vm.claimed }"
)

.flex.rows
  .house.nav
    button.action.claim(
      ng-if="vm.userType == 'COPILOT' && !vm.claimed"
      ng-hide="vm.showConfirmClaim"
      ng-click="vm.showConfirmClaim = !vm.showConfirmClaim"
    ) claim project

    ul
      li
        button.clean Project setup

      li
        button.clean Features

      li
        button.clean Design

      li
        button.clean Development


  ul.requirements.flex-grow(ng-hide="vm.loading")
    li
      h3 Project Setup

      hr.biggest

      h4 Uploaded documents

      a(href="#") abc123.doc (wip)

      h4 iOS platform details

      ul.platform.flex.space-between
        li.device
          h5 Device

          ul
            li.flex.middle(ng-repeat="device in vm.project.deviceIds")
              img.icon.small(ng-src="/images/icon-check.svg")

              span {{ vm.textMap[device] || device }}

        li.orientation
          h5 Orientation

          ul
            li.flex.middle(ng-repeat="orientation in vm.project.orientationIds")
              img.icon.small(ng-src="/images/icon-check.svg")

              span {{ vm.textMap[orientation] || orientation }}

      h4 Project type

      .project-type.flex.middle(ng-if="vm.project.projectType == 'DESIGN'")
        img.biggest(ng-src="/images/design-colored.svg")

        p Design

      .project-type.flex.middle(ng-if="vm.project.projectType != 'DESIGN'")
        img.biggest(ng-src="/images/design-development-colored.svg")

        p Design &amp; Development

    li
      h3 Features

      hr.biggest

      h4 Uploaded documents

      a(href="#") abc123.doc (wip)

      h4 Features &amp; descriptions

      ul.features-descriptions
        li(ng-repeat="feature in vm.project.features")
          p {{ feature.title }}

          p {{ feature.description }}

          hr

    li
      h3 Design

      hr.biggest

      h4 Uploaded documents

      a(href="#") abc123.doc (wip)

      h4 URL to get styles

      a(href="{{ url }}" ng-repeat="url in vm.project.designUrls" target="_blank") {{ url }}

      h4 Fonts

      .flex.middle
        .big-a A

        span {{ vm.project.fontIds.join(', ') }}

      h4 Colors

      ul.color-swatches
        li(ng-repeat="color in vm.project.colorSwatchIds")
          img(ng-src="/images/{{ vm.imageMap[color] }}.png")

      h4 Icons

      .flex.middle(ng-repeat="icon in vm.project.iconsetIds")
        img.icon.biggest(ng-src="/images/{{ vm.imageMap[icon] }}.svg")

        span {{ vm.textMap[icon] }}

    li
      h3 Development

      hr.biggest

      h4 Uploaded Specs

      a(href="#") abc123.doc (wip)

      h4 What level of security is needed?

      p Security level needed: {{ vm.project.securityLevel }}

      h4 Access to data offline?

      p(ng-if="vm.project.offlineAccess") Yes, access to offline data is needed.

      p(ng-if="!vm.project.offlineAccess") No, access to offline data is not needed.

      h4 Is there any level of personal information? (stored or transmitted)?

      p(ng-if="vm.project.usesPersonalInformation") Yes, storing and/or transmitting personal information is needed.

      p(ng-if="!vm.project.usesPersonalInformation") No, storing and/or transmitting personal information is not needed.

      h4 How many 3rd party integrations?

      p There are {{ vm.project.numberOfApiIntegrations }} integrations needed.



