loader(ng-show="vm.loading")

.confirm.claim.flex.middle.center(ng-class="{ active: vm.showConfirmClaim }")
  p(ng-hide="vm.claimed") Are you sure you want to claim this project?

  .flex.bottom(ng-show="vm.claimed")
    .icon.checkmark-white.small

    h5 Project claimed!

  button.hollow(ng-click="vm.claim()" ng-hide="vm.claiming || vm.claimed") yes, claim it!

  button.hollow(ng-click="vm.showConfirmClaim = !vm.showConfirmClaim" ng-hide="vm.claiming || vm.claimed") cancel

  .loader-house(ng-show="vm.claiming")
    loader

.confirm.launch.flex.middle.center(ng-class="{ active: vm.showConfirmLaunch }")
  p(ng-hide="vm.launched") Are you sure you want to launch this project?

  .flex.bottom(ng-show="vm.launched")
    .icon.checkmark-white.small

    h5 Project launched!

  button.hollow(ng-click="vm.launch()" ng-hide="vm.launching || vm.launched") yes, launch it!

  button.hollow(ng-click="vm.showConfirmlaunch = !vm.showConfirmlaunch" ng-hide="vm.launching || vm.launched") cancel

  .loader-house(ng-show="vm.launching")
    loader

estimate-project.dark-bg(
  project-id="{{ vm.id }}"
  ng-if="vm.userType == 'COPILOT'"
  ng-class="{ active: vm.claimed }"
)

.flex.rows
  .house.nav
    button.action.claim(
      ng-if="vm.userType == 'COPILOT' && !vm.claimed"
      ng-hide="vm.showConfirmClaim"
      ng-click="vm.showConfirmClaim = !vm.showConfirmClaim"
    ) claim project

    button.action.launch(
      ng-if="vm.userType == 'COPILOT' && vm.estimateAccepted"
      ng-hide="vm.showConfirmLaunch"
      ng-click="vm.showConfirmLaunch = !vm.showConfirmLaunch; vm.showConfirmClaim = false"
    ) launch project

    ul
      li
        button.clean(scroll-element="projectSetup") Project setup

      li
        button.clean(scroll-element="features") Features

      li
        button.clean(scroll-element="design") Design

      li
        button.clean(scroll-element="development") Development

  ul.requirements.flex-grow(ng-hide="vm.loading")
    li(id="projectSetup")
      include details/setup

    li(id="features")
      include details/features

    li(id="design")
      include details/design

    li(id="development")
      include details/development


